---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Bitcoin Beach Travemünde (Germany) Timeline" lang="en">
	<main class="container">
		<h1 class="text-2xl">English</h1>
	</main>
</Layout>
