---
import { useTranslations } from "../i18n";
import { type Events, type Lang } from '../types';
import Event from './Event.astro';
import QuoteStart from './icons/QuoteStart.astro';
import QuoteEnd from './icons/QuoteEnd.astro';
import Quote from './Quote.astro';

interface Props {
	events: Events
  lang: Lang
}

const { lang, events } = Astro.props;

const t = useTranslations(lang);
---

<div class="w-full">
  <Quote class="">{t('theBeginning')} </Quote>
  <div>
    {events.map(event => (
      <Event lang={lang} event={event} />
      ))}
  </div>
  <Quote class="">{t('theEnd')} </Quote>
</div>
