---

import { type Events, type Lang } from '../types';
import Event from '../components/Event.astro';

interface Props {
	events: Events
  lang: Lang
}

const { lang, events } = Astro.props;
---

<div class="w-full">
  <div>
    {events.map(event => (
      <Event lang={lang} event={event} />
      ))}
  </div>
</div>
