---

---

<footer class="flex w-full justify-center py-3 px-6">
  <div class="container mx-auto">
    <p class="text-center text-muted">
      © 2023 - <a
        href="https://meetup.bitcoinbeachtravemuende.de">Bitcoin Beach Travemünde</a>
    </p>
  </div>
</footer>
