---
import { useTranslations } from 'src/i18n'
import type { Lang } from 'src/types'
import Github from './icons/Github.astro'

type Props = {
  lang: Lang
}

const { lang } = Astro.props

const t = useTranslations(lang)
---

<footer class='container mx-auto px-6 py-1 md:py-3'>
  <div class='flex justify-center'>
    <a
      class='ease mb-2 mt-28 text-gray-300 hover:scale-105 hover:text-gray-400 dark:text-gray-500 hover:dark:text-gray-400'
      href='https://github.com/BitcoinBeachTravemuende/timeline'
      ><Github class='h-6 w-6 text-inherit' /></a
    >
  </div>
  <p class='px-2 py-2 text-center text-sm text-gray-400 dark:text-gray-500'>
    {t('builtWith')}
    <span class='text-base text-meetup'>♥</span> in Travemünde.
  </p>
</footer>
