---

import Btc from "./icons/Btc.astro";
import Lightfire from "./icons/Lightfire.astro";
import Lighthouse from "./icons/Lighthouse.astro";

const {class: className, ...rest} = Astro.props;

---

<div 
class=`relative ${className} overflow-hidden` 
style="width:140px; height:140px;" {...rest}
x-data="{ shown: true }"
x-intersect="shown = true"
x-intersect:leave="shown = false"
>
  <Lightfire class="absolute inset-0 -left-1/3 -top-[70px] text-meetup opacity-30 "
  :class="{ 'animate-lightfire': shown, 'animate-none': !shown }"
  />
  <Lighthouse class="absolute inset-0 text-gray-900 dark:text-white fill-white dark:fill-gray-900" />
  <Btc class="absolute left-1/2 -translate-x-1/2 top-[35px]" />
</div>
